#include </home/darthlukan/.xres/mine>

urxvt*geometry:                220x52

URxvt*font:xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=10:style=regular
URxvt*boldFont:xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=10:style=regular

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull

URxvt*lineSpace: 1
URxvt*depth: 32
URxvt*background: bg
URxvt*foreground: fg
URxvt*borderless: 1
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*saveLines:  5000
URxvt*termName:    rxvt-256color

! Black + DarkGrey
URxvt.color0:  blk
URxvt.color8:  bblk
! Red
URxvt.color1:  red
URxvt.color9:  red
! Green
URxvt.color2:  grn
URxvt.color10: grn
! Yellow
URxvt.color3:  ylw
URxvt.color11: ylw
! Blue
URxvt.color4:  blu
URxvt.color12: blu
! Mangenta
URxvt.color5:  mag
URxvt.color13: mag
! Cyan
URxvt.color6:  cyn
URxvt.color14: cyn
! LightGrey + White
URxvt.color7:  wht
URxvt.color15: wht

URxvt.perl-ext-common:  default,matcher,vtwheel,clipboard
URxvt.url-launcher:      /usr/bin/vivaldi
URxvt.matcher.button:   1
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*loginShell: true

! Colors
*background:   bg
*foreground:   fg
*cursorColor:  wht

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      red
*color2:      grn
*color10:     grn
*color3:      ylw
*color11:     ylw
*color4:      blu
*color12:     blu
*color5:      mag
*color13:     mag
*color6:      cyn
*color14:     cyn
*color7:      wht
*color15:     wht

Emacs*Background: #000000
Emacs*Foreground: fg
