urxvt*geometry:                220x52

URxvt*font:xft:Dejavu Sans Mono for Powerline:pixelsize=9:antialias=true,style=regular
URxvt*boldFont:xft:Dejavu Sans Mono for Powerline:pixelsize=9:antialias=true,style=regular

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull

URxvt*depth: 32
URxvt*background: [80]#000000
URxvt*foreground: [80]#CCCCCC
URxvt*borderless: 1
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*saveLines:  5000
URxvt*termName:    rxvt-256color

! Black + DarkGrey
URxvt.color0:  #000000
URxvt.color8:  #1F1F1F
! Red
URxvt.color1:  #B02323
URxvt.color9:  #DB1414
! Green
URxvt.color2:  #449447
URxvt.color10: #2EBF33
! Yellow
URxvt.color3:  #AFB538
URxvt.color11: #D9E320
! Blue
URxvt.color4:  #303796
URxvt.color12: #5861E0
! Mangenta
URxvt.color5:  #A13285
URxvt.color13: #E663C5
! Cyan
URxvt.color6:  #2F9C9C
URxvt.color14: #43D9D9
! LightGrey + White
URxvt.color7:  #CCCCCC
URxvt.color15: #FFFFFF

URxvt.perl-ext-common:  default,matcher,vtwheel,clipboard
URxvt.url-launcher:      /usr/bin/google-chrome-stable
URxvt.matcher.button:   1
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*loginShell: true

! Black + DarkGrey
*color0:  #000000
*color8:  #1F1F1F
! Red
*color1:  #B02323
*color9:  #DB1414
! Green
*color2:  #449447
*color10: #2EBF33
! Yellow
*color3:  #AFB538
*color11: #D9E320
! Blue
*color4:  #303796
*color12: #5861E0
! Mangenta
*color5:  #A13285
*color13: #E663C5
! Cyan
*color6:  #2F9C9C
*color14: #43D9D9
! LightGrey + White
*color7:  #CCCCCC
*color15: #FFFFFF
