urxvt*geometry:                220x52

URxvt*font:xft:Dejavu Sans Mono for Powerline:pixelsize=9:antialias=true,style=regular
URxvt*boldFont:xft:Dejavu Sans Mono for Powerline:pixelsize=9:antialias=true,style=regular

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull

URxvt*depth: 32
URxvt*background: [80]#000000
URxvt*foreground: [80]#CCCCCC
URxvt*borderless: 1
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*saveLines:  5000
URxvt*termName:    rxvt-256color

! Black + DarkGrey
URxvt.color0:  #000000
URxvt.color8:  #181818
! Red
URxvt.color1:  #8E0000
URxvt.color9:  #8E4545
! Green
URxvt.color2:  #308E1D
URxvt.color10: #528E45
! Yellow
URxvt.color3:  #8C8E1D
URxvt.color11: #8D8E47
! Blue
URxvt.color4:  #25268E
URxvt.color12: #47488E
! Mangenta
URxvt.color5:  #8B258E
URxvt.color13: #8A488C
! Cyan
URxvt.color6:  #16888C
URxvt.color14: #488A8C
! LightGrey + White
URxvt.color7:  #272727
URxvt.color15: #EDEDED

URxvt.perl-ext-common:  default,matcher,vtwheel,clipboard
URxvt.url-launcher:      /usr/bin/google-chrome-stable
URxvt.matcher.button:   1
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*loginShell: true
