urxvt*geometry:                220x52

URxvt*font:xft:Inconsolata for Powerline:pixelsize=12:antialias=true
URxvt*boldFont:xft:Inconsolata for Powerline:pixelsize=12:antialias=true

URxvt*depth: 32
URxvt*background: [80]#000000
URxvt*foreground: [100]#ffffff
URxvt*borderless: 1
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*saveLines:  5000
! URxvt*tintColor: grey 
! URxvt*shading: 40 
URxvt*termName:    rxvt-256color

! Black + DarkGrey
URxvt.color0:  #000000
URxvt.color8:  #727272
! Red
URxvt.color1:  #ff7070
URxvt.color9:  #ff8d8d
! Green
URxvt.color2:  #93ff4f
URxvt.color10: #c8ffa8
! Yellow
URxvt.color3:  #eab93d
URxvt.color11: #ffc123
! Blue
URxvt.color4:  #3480f0
URxvt.color12: #5090ff
! Mangenta
URxvt.color5:  #de5c00
URxvt.color13: #f57900
! Cyan
URxvt.color6:  #56cce2
URxvt.color14: #89ddff
! LightGrey + White
URxvt.color7:  #d5d5d5
URxvt.color15: #ffffff

URxvt.perl-ext-common:  default,matcher,vtwheel,clipboard
URxvt.url-launcher:      /usr/bin/chromium
URxvt.matcher.button:   1
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*loginShell: true
